* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background:radial-gradient(circle at center, #0b1c2d, #000);
   font-family: Arial, sans-serif;
}

.clock {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 12px;
}

.digit {
  display: grid;
  grid-template-columns: repeat(3, 10px);
  grid-template-rows: repeat(5, 10px);
  gap: 3px;
  padding: 8px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.08);
}

.tile {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: lightgreen;
  transform: scale(0.5) rotateX(90deg);
  opacity: 0;
  transition:
  transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1),
  opacity 0.4s ease;
}

.tile.on {
  background: lightgreen;
  transform: scale(1) rotateX(0deg);
  opacity: 1;
  box-shadow: 0 6px 18px rgba(0, 255, 220, 0.35);
}

.colon {
  display: grid;
  place-items: center;
  font-size: 50px;
  color: lightgreen;
  opacity: 0.7;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0.15;
  }
}

.soat{
    position: relative;
    padding: 12px 12px;
    font-size: 18px;
    color: lightblue;
    opacity: 0.7;
    user-select: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    background-color: #4B5D67;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);


}
@media (min-width: 768px) {
  .soat {
    transform: none;
  }
}
@media (min-width: 1200px) {
  .soat {
    transform: none;
  }
}
@media (min-width: 1200px) {
  .digit {
    grid-template-columns: repeat(3, 14px);
    grid-template-rows: repeat(5, 14px);
    gap: 6px;
    padding: 14px;
  }

  .tile {
    width: 14px;
    height: 14px;
  }

  .clock {
    gap: 20px;
  }

  .country {
    font-size: 40px;
  }
}




